<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Raya's database app</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('home') }}">MyAgileProject</a>
        <a class="nav-link" href="{{ url_for('about') }}">About Us</a>
        {% if isAuthenticated%}
        <a class="btn btn-outline-secondary my-2 my-sm-0" href="{{ url_for('logout') }}" onclick="if (! window.confirm('Are you sure you want to log out?')){return false}">Logout</a>
        {% else %}
        <a class="btn btn-outline-secondary my-2 my-sm-0" href="{{ url_for('login') }}">Login or Sign Up</a>
        {% endif %}
    </div>
    </nav>

    <div class="jumbotron">
      <div class="container-md bg-light-subtle border border-primary-subtle rounded-3 position-absolute top-50 start-50 translate-middle">
        <h1 class="display-4 text-center">VQA</h1>
        <p>VQA continually works to solve a broad range of cutting-edge technical problems to delight our customers by offering them the most engaging video-watching experience globally.</p>
        <p>Learn more on <a href="https://www.primevideotech.com/video-quality-analysis">Prime Video Tech</a></p>
        <h2 class="text-center">Who are our customers?</h2>
        <p>Prime Video teams are a primary focus for us to enable the business to continue to grow while maintaining high streaming quality for customers. Once logged in, please see our growing list of customers on the <a href="{{url_for('customers_database')}}">Customers Database page</a></p>
        <h2 class="text-center">What events does VQA monitor?</h2>
        <p>Our team covers a broad range of Live and Linear content. Te learn more, please visit our <a href="{{url_for('events_database')}}">Events Database</a> (Please note - login is required).</p>
      </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

  </body>
</html>