<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Raya's database app</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('home') }}">MyDevOpsProject</a>
        <a class="nav-link" href="{{ url_for('about') }}">About Us</a>
        {% if isAuthenticated%}
        <a class="btn btn-outline-secondary my-2 my-sm-0" href="{{ url_for('logout') }}" onclick="if (! window.confirm('Are you sure you want to log out?')){return false}">Logout</a>
        {% endif %}
    </div>
    </nav>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close">
            </button>
        </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    
    <div class="jumbotron">
        <div class="container-md bg-light-subtle border border-primary-subtle rounded-3 text-center position-relative">
            <h1 class="display-4">Events monitored by VQA</h1>
            <p class="lead">Add a new event:</p>

            <form class="form" action = "{{ url_for('add_event') }}" method = "POST">
                <div class="form-group mx-sm-3 mb-2">
                    <!-- <input type="text" class="form-control" id="inputPassword2" name="name" placeholder="Customer Name"> -->
                    {{ form.name.label() }}
                    {% if form.name.errors %}
                        {{ form.name() }}
                        <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                        <span>* {{ error }}</span>
                        {% endfor %}
                        </div>
                    {%else%}
                        {{ form.name() }}
                    {% endif %}
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <!-- <input type="text" class="form-control" id="inputPassword2" name="location" placeholder="Location (London, UK)"> -->
                    {{ form.location.label() }}
                    {% if form.location.errors %}
                        {{ form.location() }}
                        <div class="invalid-feedback">
                        {% for error in form.location.errors %}
                        <span>* {{ error }}</span>
                        {% endfor %}
                        </div>
                    {%else%}
                        {{ form.location() }}
                    {% endif %}
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <!-- <input type="text" class="form-control" id="inputPassword2" name="dateJoined" placeholder=" Date joined (2022-02-15)"> -->
                    {{ form.dateStarted.label() }}
                    {% if form.dateStarted.errors %}
                        {{ form.dateStarted() }}
                        <div class="invalid-feedback">
                        {% for error in form.dateStarted.errors %}
                        <span>* {{ error }}</span>
                        {% endfor %}
                        </div>
                    {%else%}
                        {{ form.dateStarted() }}
                    {% endif %}
                </div>
                <div class="form-group mx-sm-3 mb-3">
                    <!-- <input type="text" class="form-control" id="inputPassword2" name="useCase" placeholder="Use case (To monitor short videos)"> -->
                    {{ form.durationMins.label() }}
                    {% if form.durationMins.errors %}
                        {{ form.durationMins() }}
                        <div class="invalid-feedback">
                        {% for error in form.durationMins.errors %}
                        <span>* {{ error }}</span>
                        {% endfor %}
                        </div>
                    {%else%}
                        {{ form.durationMins() }}
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary mb-4">Add a new event</button>
            </form>
            <br>
            <p class="lead">Events we have monitored:</p>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Event Name</th>
                        <th scope="col">Location</th>
                        <th scope="col">Date Started</th>
                        <th scope="col">Duration</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                        <tr>
                            <td>
                                {{row["name"]}}
                            </td>
                            <td>
                                {{row["location"]}}
                            </td>
                            <td>
                                {{row["dateStarted"]}}
                            </td>
                            <td>
                                {{row["durationMins"]}}
                            </td>
                            {% if row["author"] == currentUser or isAdmin == "True" %}
                            <td>
                                <form action="{{ url_for('delete_event', event_name = row['name']) }}" method= "POST">
                                    <button type="submit" class="btn btn-danger mb-4" onclick="if (! window.confirm('Are you sure you want to delete this event?')){return false}">Delete</button>
                                </form>
                            </td>
                            <td>
                                <a class="btn btn-warning my-2 my-sm-0" href="{{ url_for('update_event', name = row['name'], dateStarted = row['dateStarted'], location = row['location'], durationMins = row['durationMins']) }}">Edit</a>
                            </td>
                            {% endif %}
                        </tr>
                    {%endfor%}
                </tbody>
            </table>

            
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>