<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Raya's database app</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('home') }}">MyDevOpsProject</a>
            <a class="nav-link" href="{{ url_for('about') }}">About Us</a>
        </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close">
            </button>
        </div>
        {% endfor %}
      {% endif %}
    {% endwith %}


    <div class="container-md bg-light-subtle border border-primary-subtle rounded-3 text-center position-absolute top-50 start-50 translate-middle">
        <h3>Register</h3>
        <div class="form-control-lg">
          <form class="form" action = "{{ url_for('register_action') }}" method = "POST">
            <div class="form-group mx-sm-3 mb-2">
                {{ form.username.label() }}
                {% if form.username.errors %}
                    {{ form.username() }}
                    <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                    <span>* {{ error }}</span>
                    {% endfor %}
                    </div>
                {%else%}
                    {{ form.username() }}
                {% endif %}
            </div>
            <div class="form-group mx-sm-3 mb-2">
                {{ form.email.label() }}
                {% if form.email.errors %}
                    {{ form.email() }}
                    <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>* {{ error }}</span>
                    {% endfor %}
                    </div>
                {%else%}
                    {{ form.email() }}
                {% endif %}
            </div>
            <div class="form-group mx-sm-3 mb-2">
                {{ form.password.label() }}
                {% if form.password.errors %}
                    {{ form.password() }}
                    <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>* {{ error }}</span>
                    {% endfor %}
                    </div>
                {%else%}
                    {{ form.password() }}
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary mb-4">Submit</button>
          </form>
      </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>