<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Raya's database app</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('home') }}">MyAgileProject</a>
        <a class="btn btn-outline-secondary my-2 my-sm-0" href="{{ url_for('customers_database') }}">Customers Database</a>
        <a class="btn btn-outline-secondary my-2 my-sm-0" href="{{ url_for('events_database') }}">Events Database</a>
    </div>
    </nav>
    <div class="container-md bg-light-subtle border border-primary-subtle rounded-3 text-center position-absolute top-50 start-50 translate-middle">
        <div class="form-control-lg">
            <form class="form-inline" action = "{{ url_for('update_set_customer', customer_name = name) }}" method = "POST">

                <div class="form-group mx-sm-3 mb-2">
                    <input type="text" class="form-control" id="inputPassword2" name="name" value = "{{name}}" placeholder="{{name}}">
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <input type="text" class="form-control" id="inputPassword2" name="location" value = "{{location}}" placeholder="{{location}}">
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <input type="text" class="form-control" id="inputPassword2" name="dateJoined" value = "{{dateJoined}}" placeholder="{{dateJoined}}">
                </div>
                <div class="form-group mx-sm-3 mb-3">
                    <input type="text" class="form-control" id="inputPassword2" name="useCase" value = "{{useCase}}" placeholder="{{useCase}}">
                </div>
                <button type="submit" class="btn btn-primary mb-4">Edit</button>

            </form>
        </div>
    </div>
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>